# --- WORKER CONFIG ---
TEMPORAL_ADDRESS=localhost:7233
TEMPORAL_NAMESPACE=default
TEMPORAL_TASK_QUEUE=PREFLIGHT_QUEUE

# Engine Dependency
GS_PATH="C:\\Program Files\\gs\\gs10.06.0\\bin\\gswin64c.exe"
ICC_PROFILES_DIR=/app/icc-profiles
PPOS_ICC_PROFILE_PATH=/app/icc-profiles/PSO_Coated_v3.icc
PPOS_CMYK_PROFILE_PATH=/app/icc-profiles/PSO_Coated_v3.icc
PPOS_DEFAULT_CMYK_FALLBACK_PROFILE_PATH=/usr/share/color/icc/ghostscript/default_cmyk.icc
